@font-face {
  font-family: "Larsseit bold";
  src: url("Larsseit/Type Dynamic - Larsseit Bold.otf");
}
@font-face {
  font-family: "Larsseit light";
  src: url("Larsseit/Type Dynamic - Larsseit Light.otf");
}
body,
html {
  margin: 0;
  height: 100vh;
}
.kudos {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: #000000;
  font-family: "Larsseit light";
}
.header {
  display: -webkit-box;
}
.header1 {
  height: 2rem;
  color: white;
  line-height: 2rem;
  width: 400vw;
  font-size: 0.8rem;
}
.cudos-display {
  display: flex;
  height: 100%;
}
.avocados {
  height: 100%;
  background: #fcedac;
}
.confettis {
  height: 100%;
  background: #ff1313;
}
.unicorns {
  height: 100%;
  background: #fff34d;
}
.kudos-container {
  flex: 1;
}
.user-wrapper {
}
.avocado-placement {
  background: #ff1313;
}
.confetti-placement {
  background: #fff34d;
  color: black !important;
}
.unicorn-placement {
  background: #000000;
}
.placement {
  border-radius: 100%;
  height: 2.8rem;
  width: 2.8rem;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 2rem;
  line-height: 3.3rem;
  margin-top: 20%;
  font-family: "Larsseit bold";
}
.name {
  margin: 5% 2% 1% 2%;
  font-size: 1rem;
  text-align: center;
  font-family: "Larsseit bold";
}
.score {
  text-align: center;
  font-size: 1rem;
}
.icon {
  display: block;
  margin: auto;
  padding-top: 20%;
  margin-bottom: 7rem;
  height: 9rem;
}
.avocados > .user-wrapper > .icon {
  padding-top: 23%;
  height: 8rem;
}
.red {
  color: #ff1313;
}
.white {
  color: white;
}
