.cudos-ticker {
  display: -webkit-box;
  overflow: hidden;

  &__inner {
    position: relative;
    overflow: hidden;
    height: 2rem;
    color: white;
    line-height: 2rem;
    padding-left: 100%;
    font-size: 1rem;
    display: flex;
  }

  &__receiver {
    position: absolute;
    height: calc(100% - 8px);
    display: flex;
    padding: 4px;
    transition: transform 10s linear;
    & > p {
      margin: 0;
    }
  }
  &__icon {
    height: 100%;
  }
}
